{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}
    <div class="container mt-5 py-5" style="height: calc(100vh - 120px)">
        <div class="row">
            <div class="col-sm">
                <h1>Hi! I would ❤️ it if someone put a Vue app here...</h1>
            </div>
        </div>
    </div>
{% endblock %}
