@import "~bootstrap/dist/css/bootstrap.min.css";

.bg-custom {
    background: transparent;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 10px;
}

.bg-white-custom {
    background-color: rgb(255 255 255 / 0.05);
}

.btn-custom {
    background-color: rgb(255 255 255 / 0.1);
    border-radius: 60px;
}

.btn-custom:hover {
    background-color: rgb(255 255 255 / 0.2);
}